.jumbotron-fluid{
    background-color:purple;
   height: 50px;

}
.display-4{
    color: white;
    font-family: "Times New Roman", Times, serif;
    size: 2px;
    position: relative;
    bottom: 11px;
    text-align: Center;
}
body {
    background-color: #333;
    margin: 0px;
    padding: 0px;
  }
  .navbar-brand {
    background-color: #333;
    
  }
  ul{
    list-style-type: none;
    margin: 0;
    position:fixed;
    top:0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li{
    float: left;
  }
  nav{
      margin:0;
      padding:0;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
  }
  li a:hover:not(.active){
    background-color: #111;
    text-decoration: none;
  }
  .active{
    background-color: #4caf50;
  }
  p{
    font-family: Consolas;
    text-align: center;
  } 
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 60px; /* Added */
    box-shadow: 14px 28px rgba(0,0,0,25);
}
img{
        border-radius: 50%;
    }
.card-title{
    padding: 6px, 5px;
}
